<mat-sidenav-container fullscreen>
  <mat-sidenav #sideNav class="example-sidenav mat-elevation-z3" [mode]="isMobile ? 'over' : 'side'" [opened]="showNavBar">
    <mat-toolbar color="primary">
      <img src="assets/images/logo.png" class="logo"/>
      Kruzym Admin
      <span fxFlex></span>
     <!-- <button mat-icon-button (click)="sideNav.close()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button> -->
    </mat-toolbar>
    <mat-nav-list style="z-index: 2; min-width: 149px;">
     <!--<a mat-list-item routerLink="/business" routerLinkActive="active-link"><mat-icon>home</mat-icon>{{ 'sidemenu.business' | translate }}</a>
      <a mat-list-item routerLink="/vehicles" routerLinkActive="active-link"><mat-icon>directions_car</mat-icon>{{ 'sidemenu.vehicles' | translate }}</a> --> 
      <a mat-list-item routerLink="/users" routerLinkActive="active-link"><mat-icon>person</mat-icon>{{ 'sidemenu.users' | translate }}</a>
      
      <!-- <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link"><mat-icon>directions_car</mat-icon> Vehículos</a>
      <a mat-list-item routerLink="/integrations" routerLinkActive="active-link"><mat-icon>person</mat-icon> Usuarios</a> --> 
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary" class="spacer">
    <button *ngIf="showNavBar === true" mat-icon-button (click)="sideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    {{ toobarTitle }}
    <span fxFlex></span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="doLogout()" mat-menu-item>
        <mat-icon >settings_power</mat-icon> Logout
      </button>
    </mat-menu>
  </mat-toolbar>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>